{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", 120],
    "no-unneeded-ternary": "error",
    "arrow-body-style":  "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["utils/*.js", "**/*.test.js"]}]
  }
}
