{
  "check-coverage": false,
  "per-file": true,
  "statements": 94,
  "branches": 83,
  "functions": 90,
  "lines": 90,
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "cache": true,
  "include": [
    "lib/**"
  ],
  "exclude": [
    "lib/utils/generate-import.js",
    "lib/utils/get-all-modules.js"
  ]
}
