sudo: false
language: node_js

node_js:
 - 12.18.1

branches:
  except:
    - v0

env:
  global:
    - ISTANBUL_COVERAGE: yes

script:
 - nvm install 8.17.0
 - sh scripts/build.sh webpack-4
 - yarn lint
 - yarn test:webpack-2
 - yarn test:webpack-3
 - yarn test:webpack-4

after_success:
 - yarn upload-coverage
